body{
    background-image: url("images/background.png");
    background-color: #fdf9d1;
}
h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: lemonchiffon;
}
#main{
    left: 400px;
    display: flex;
    flex-direction: column;
}
#background{
    background-color: #ee8f8f;
    width: 900px;
    height: 415px;
    border-radius: 30px;
    position: absolute;
    left:130px;
}
#timer{
    font-size:100px;
    position: absolute;
    left: 450px;
    top: 250px;
    color:lemonchiffon;
}
#top{
    position:absolute;
    top:130px;
    left: 280px;
}
#bottom{
    position:absolute;
    display: flex;
    flex-direction: column;
    top: 350px;
    left: 520px;
}
.option{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color:lemonchiffon;
    color: #ee8f8f;
    font-size: 20px;
}
#start-stop{
    background-image: url('images/play.png');
    height: 30px;
    width: 30px;
    margin: 30px;
}
#reset{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color:lemonchiffon;
    color: #ee8f8f;
    font-size: 15px; 
}
#work{
    background-color: #ffd0d0;
}
#playlist{
    width: 300px;

    position: absolute;
    left:1050px;
    top:130px;
}